$yellow: #ffc107;
$red: #dc3545;

#nav-link-shop {
    border-right: 1px solid white;
}

#nav-link-shopping-card {
    border-left: 1px solid white;
}

.header-link {
    color: white;

    &:hover {
        color: black;
        background-color: white;
    }
}

.shops-side-bar {
    border: 1px solid black;
    border-radius: 0.75rem;

    p {
        font-size: 1.25rem;
    }

    .shops-list {
        li {
            background-color: white;

            &:hover {
                background-color: $yellow;
            }
        }
    }
}

.nav-item {
    border: 1px solid black;
    border-radius: 0.5rem;
    text-align: center;
}

.products-list {
    border: 1px solid black;
    border-radius: 0.75rem;
    height: 100vh;

    .btn-add-to-card {
        color: white;
        background-color: $red;

        &:hover {
            background-color: $yellow;
            color: black;
        }
    }
}

.order-form {
    border: 1px solid black;
    border-radius: 0.75rem;

    .map {
        height: 20rem;
        width: 100%;
    }

    .btn-submit {
        background-color: $red;
        color: white;

        &:hover {
            color: black;
            background-color: $yellow;
        }
    }
}

.current-shop-cart {
    border: 1px solid black;
    border-radius: 0.75rem;
    height: 70vh;
}

.counter {
    height: 3rem;
}