#nav-link-shop {
  border-right: 1px solid white; }

#nav-link-shopping-card {
  border-left: 1px solid white; }

.header-link {
  color: white; }
  .header-link:hover {
    color: black;
    background-color: white; }

.shops-side-bar {
  border: 1px solid black;
  border-radius: 0.75rem; }
  .shops-side-bar p {
    font-size: 1.25rem; }
  .shops-side-bar .shops-list li {
    background-color: white; }
    .shops-side-bar .shops-list li:hover {
      background-color: #ffc107; }

.nav-item {
  border: 1px solid black;
  border-radius: 0.5rem;
  text-align: center; }

.products-list {
  border: 1px solid black;
  border-radius: 0.75rem;
  height: 100vh; }
  .products-list .btn-add-to-card {
    color: white;
    background-color: #dc3545; }
    .products-list .btn-add-to-card:hover {
      background-color: #ffc107;
      color: black; }

.order-form {
  border: 1px solid black;
  border-radius: 0.75rem; }
  .order-form .map {
    height: 20rem;
    width: 100%; }
  .order-form .btn-submit {
    background-color: #dc3545;
    color: white; }
    .order-form .btn-submit:hover {
      color: black;
      background-color: #ffc107; }

.current-shop-cart {
  border: 1px solid black;
  border-radius: 0.75rem;
  height: 70vh; }

.counter {
  height: 3rem; }

/*# sourceMappingURL=style.css.map */